@page
@model SignalRAssignment.Pages.Admin.IndexModel
@{
}

<h1>Pizzas</h1>

    <div>
        <a href="/admin/create" class="btn btn-secondary">Create new</a>
    </div>
   <table class="table table-bordered">
       <thead>
           <tr>
               <th>Name</th>
               <th>Price</th>
               <th>Image</th>
               <th>Category</th>
               <th>Actions</th>
           </tr>
       </thead>
       <tbody>
            @foreach(var product in Model.Products)
              {
                <tr>
                     <td>@product.ProductName</td>
                     <td>@product.UnitPrice</td>
                     <td><img src="@product.ProductImage"  width="100" /></td>
                     <td>@product.Category.CategoryName</td>
                     <td>
                          <a href="/admin/edit?id=@product.ProductID" class="btn btn-primary">Edit</a>
                          <a href="/admin/delete?id=@product.ProductID" class="btn btn-danger">Delete</a>
                          </td>
                          </tr>
                          }
       </tbody>
   </table>